#-------------------------------------------------------------------------------
# Docker
#-------------------------------------------------------------------------------
export DOCKER_HOST_NGINX_PORT=80

#-------------------------------------------------------------------------------
# Unity
#-------------------------------------------------------------------------------
export UNITY_USERNAME=
export UNITY_PASSWORD=
# export PATH=/Applications/Unity/Hub/Editor/2019.3.0f6/Unity.app/Contents/MacOS:$PATH
